<li class="filetree-node {% if value is mapping or (value is iterable and value is not string) %}-folder{% else %}-file{% endif %}">
    <span class="filetree-node-name" data-name="{{ key }}">{{ key }}</span>

    {% if value is mapping %}
        <ul class="filetree-node-children">
            {% for key, value in value.items() %}
                {% include 'inc/filetree-node.html' %}
            {% endfor %}
        </ul>
    {% elif value is iterable and (var is not string and var is not mapping) %}
        <ul class="filetree-node-children">
            {% for key in value %}
                {% with value='' %}
                    {% include 'inc/filetree-node.html' %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
