<section class="filetree">
    {% if heading %}
        <div class="filetree-heading">{{ heading }}</div>
    {% endif %}
    <ul class="filetree-root">
        {% for key, value in meta.items() %}
            {% include 'inc/filetree-node.html' %}
        {% endfor %}
    </ul>
</section>
