<section class="gallery">
    {% if meta.heading %}
        <h2>{{ meta.heading }}</h2>
    {% endif %}
    {% if meta.images %}
        <div class="gallery-images">
            {% for img in meta.images %}
                <img alt="{{ img.alt }}" src="{{ img.src }}">
            {% endfor %}
        </div>
    {% endif %}
    {{ content }}
</section>
