<ul>
    {% for item in items %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a> 
            
            {% if item.children %}
                {% with items=item.children %}
                    {% include 'inc/list.html' %} 
                {% endwith %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
