<section class="mods">
    <h2>{{ meta.heading }}</h2>

    <p>{{ meta.subheading }}</p>

    {% for mod in meta.mods %}
        <a class="mods-item" href="{{ mod.url }}">
            <img src="{{ mod.image }}" alt="{{ mod.name }}" />
        </a>
    {% endfor %}
</section>
