<section class="properties">
    <div class="properties-heading">
        {% if heading %}
            {{ heading }}
        {% else %}
            Properties
        {% endif %}
    </div>
    <div class="properties-container">
        <ul class="properties-keys">
            {% for key, value in meta.items() %}
                {% include 'inc/property-key.html' %}
            {% endfor %}
        </ul>
        <div class="properties-values">
            {% for key, value in meta.items() %}
                {% include 'inc/property-value.html' %}
            {% endfor %}
        </div>
    </div>
    {{ content }}
</section>
