<li>
    <span class="properties-key">{{ key }}</span>

    {% if value is mapping %}
        <ul>
            {% for key, value in value.items() %}
                {% include 'inc/property-key.html' %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
