<section class="textures">
    <div class="textures-search">
        <input class="textures-search-input" type="text">
        <div class="textures-search-stats"></div>
    </div>

    {% for package_name, package in meta.items() %}
        <div class="textures-package" data-name="{{ package_name }}">    
            <h2>{{ package_name }}</h2>

            {% if package is mapping %} 
                {% for group_name, group in package.items() %}
                    <div class="textures-group" data-name="{% if group_name != 'None' %}{{ group_name }}{% endif %}">   
                        {% if group_name != 'None' %}
                            <h3>{{ group_name }}</h3>
                        {% endif %}

                        {% for texture_name in group %}
                            <figure class="textures-item" data-name="{{ texture_name }}">
                                {% if group_name == 'None' %}
                                    <img title="{{ package_name }}/{{ texture_name }}" src="{{ package_name }}/{{ texture_name }}.jpg" alt="{{ texture_name }}" loading="lazy">
                                {% else %}
                                    <img title="{{ package_name }}/{{ group_name }}/{{ texture_name }}" src="{{ package_name }}/{{ group_name }}/{{ texture_name }}.jpg" alt="{{ texture_name }}" loading="lazy">
                                {% endif %}
                                <figcaption>{{ texture_name }}</figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <pre>{{ package | tojson(2) }}</pre>
            {% endif %}
        </div>
    {% endfor %}
</section>
