<ul class="tree">
    {% for item in items %}
        {% if not item.is_hidden %}
            <li class="tree-item {% if item.is_current %}-current{% elif item.is_current_parent %}-current-parent{% endif %} {% if not item.url %}-placeholder{% endif %}" data-search="{{ item.title }}{% if item.description %} {{ item.description }}{% endif %}{% if item.keywords %} {{ item.keywords }}{% endif %}">
                {% if item.children %}
                    <details {% if item.is_current_parent or item.is_current %}open{% endif %}>
                        <summary class="tree-item-title">
                            {% if item.url and not item.is_current %}
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </summary> 
                        
                        {% with items=item.children %}
                            {% include 'inc/tree.html' %} 
                        {% endwith %}
                    </details>
                {% else %}
                    {% if item.url and not item.is_current %}
                        <a class="tree-item-title" href="{{ item.url }}">{{ item.title }}</a>
                    {% else %}
                        <span class="tree-item-title">{{ item.title }}</span>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
