{% extends "base.html" %}

{% block body %}
    <body class="site">
        <main class="site-main">
            <nav class="site-nav">
                <div class="site-nav-brand">
                    <a href="/">
                        <img src="/img/logo-text.svg" alt="{{ cfg.site_name }}" />
                    </a>
                </div>
                <label class="site-nav-links">
                    <input class="site-nav-links-toggle" type="checkbox" value="MENU"></input>
                    <div class="site-nav-links-tree">
                        <label class="site-nav-links-search">
                            <input type="text" class="site-nav-links-search">
                        </label>
                        {% with items=site_map %}
                            {% include 'inc/tree.html' %} 
                        {% endwith %}
                    </div>
                </label>
            </nav>
            <div class="site-page">
                <h1 class="site-page-title">{{ meta.title }}</h1>
                {% if meta.description %}
                    <p class="site-page-description">{{ meta.description }}</p>
                {% endif %}
                {% if meta.author %}
                    <p class="site-page-author">Author: {{ meta.author }}</p>
                {% endif %}
                {% if meta.image %}
                    <img class="site-page-image" alt="{{ meta.title }}" src="{{ meta.image }}"/>
                {% endif %}

                {{ content }}
            </div>
        </main>
        <script src="/js/script.js"></script>
    </body>
{% endblock body %}
