// Fonts
@font-face {
    font-family: 'HandelGothic';
    font-weight: normal;
    src: url('../fonts/HandelGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceCodePro';
    font-weight: normal;
    src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

// Variables
$text-color: #e1e1e1;

// Mixins
@mixin file-icon {
    &::before {
        margin-right: 0.5rem;
        content: '📁';
    }
    
    &[data-name$=".uc"]::before,
    &[data-name$=".u"]::before,
    &[data-name$=".chm"]::before {
        content: '📄';
    }

    &[data-name$=".uax"]::before,
    &[data-name$=".mp3"]::before {
        content: '🔊';
    }

    &[data-name$=".zip"]::before,
    &[data-name$=".7z"]::before {
        content: '🗜️';
    }

    &[data-name$=".exe"]::before,
    &[data-name$=".jar"]::before {
        content: '⚙️';
    }
}

@mixin border($pad: 0px) {
    border-image: url(../img/border-window.png) 15 21 13 58 fill / 15px 21px 13px 58px;
    padding-top: calc(12px + #{$pad});
    padding-right: calc(#{$pad} + 0px);
    padding-bottom: calc(4px + #{$pad});
    padding-left: calc(9px + #{$pad});
    position: relative;
}

@mixin border-heading {
    border-image: url(../img/border-heading.png) 3 30 45 11 fill / 3px 30px 45px 11px;
    width: max-content;
    font-family: "HandelGothic", sans-serif;
    position: absolute;
    top: -22px;
    left: -3px;
    padding: 2px 114px 45px 10px;
}

@mixin border-small {
    border-image: url(/img/border-button-small.png) 4 7 7 4 fill / 4px 7px 7px 4px !important;
    font-size: inherit;
    font-family: "HandelGothic", sans-serif;
    padding: 0 0.5rem;
}

@mixin button-small {
    border-image: url(/img/border-button-small.png) 4 7 7 4 fill / 4px 7px 7px 4px !important;
    font-size: inherit;
    font-family: "HandelGothic", sans-serif;
    padding: 0 0.5rem;
    color: white !important;
    height: 1.5rem;
}

@mixin button-large {
    position: relative;
    font-family: "HandelGothic", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    line-height: 2.5rem;
    padding: 0 1.5rem 0.2rem 1rem;
    text-transform: uppercase;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-image: url(/img/border-button-large.png) 4 17 17 4 fill / 4px 17px 17px 4px;
    }
}

@mixin large {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin small {
    @media(max-width: 1199px) {
        @content;
    }
}

// General rules
* {
    box-sizing: border-box;
}

html, body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
}

figure {
    display: inline-block;
    margin: 0 24px 24px 0;
}

iframe {
    width: 100%;
    min-height: 182px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HandelGothic", sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

a {
    color: white;
    text-decoration: none;

    &:visited {
        color: inherit;
    }

    &:active, &:focus, &:hover {
        text-decoration: underline;
    }
}

p > code, li > code {
    @include button-small;

    font-family: "SourceCodePro", monospace; 
}

table {
    @include border(1rem);

    width: 100%;

    th {
        font-family: "HandelGothic", sans-serif;
        text-align: left;
        white-space: nowrap;
    }

    td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-right: 1rem;

        &:last-child {
            padding: 0;
        }

        a {
            @include button-small;
        }
    }
}

ol {
    list-style: none;
    counter-reset: ol-counter;

    > li {
        position: relative;
        counter-increment: ol-counter;
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &::before {
            content: counter(ol-counter);
            line-height: 1;
            position: absolute;
            display: block;
            margin-right: 1rem;
            right: 100%;
            top: 0.1rem;
            font-size: 1.4rem;
            font-family: "HandelGothic", sans-serif;
        }
    } 
}

pre {
    @include border(0.5rem);
  
    padding: 1rem;
    white-space: pre;
    display: block;
    width: 100%;
    overflow-x: auto;

    code {
        font-family: "SourceCodePro", monospace; 
        line-height: 1;
    }
}

// Site structure
.site {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $text-color;
    padding: 2rem 0 0 0;
    margin: 0;
    min-height: 100vh;

    &-main {
        width: calc(100% - 4rem);
        display: flex;
        position: relative;
        margin: 0 auto;
        max-width: 80rem;
        
        @include small {
            display: block;            
            max-width: 60rem;
        }
    }

    &-nav {
        margin-right: 2rem;
        width: 20rem;
        flex-shrink: 0;
        flex-basis: 20rem;

        @include small {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
        }

        &-brand {
            opacity: 0.9;

            &:hover {
                opacity: 1.0;
            }

            img {
                display: block;
                width: 100%;
                
                @include small {
                    width: auto;
                    height: 4rem;
                }
            }
        }
       
        &-links {
            display: block;

            &-toggle {
                position: absolute;
                display: block;
                top: 1rem;
                right: 0;
                cursor: pointer;
                appearance: none;
                border-image: url(/img/border-button-large.png) 4 17 17 4 fill / 4px 17px 17px 4px;
                height: 2rem;
                width: 6rem;

                &::-webkit-details-marker {
                    display: none;
                }

                @include large {
                    display: none;
                }

                @include small {
                    &::after {
                        content: 'MENU';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(100% - 1rem);
                        height: 100%;
                        line-height: 2rem;
                        text-align: center;
                        z-index: 1;
                        font-size: 1rem;
                        font-family: "HandelGothic";
                        color: white;
                    }
                    
                    &:checked + .site-nav-links-tree {
                        display: block;
                    }
                }
            }
    
            &-search {
                position: relative;
                display: block;

                input {
                    border-image: url(/img/border-input.png) 4 8 8 6 fill / 4px 8px 8px 6px;
                    padding: 0 2rem 0 0.5rem;
                    line-height: 2rem;
                    display: block;
                    margin: 1rem 1rem 0.5rem 1rem;
                    width: calc(100% - 2rem);
                    background: transparent;
                    outline: 0;
                    font-family: inherit;
                    color: inherit;
                    font-size: inherit;

                    &:focus {
                        outline: 0;
                    }
                }
            
                &::after {
                    content: '⚲';
                    pointer-events: none;
                    display: block;
                    position: absolute;
                    font-weight: bold;
                    right: 2rem;
                    top: 0.35rem;
                    font-size: 1.5rem;
                    line-height: 1rem;
                    transform: rotate(-45deg);
                    z-index: 10;
                    font-family: inherit;
                }
            }

            &-tree {
                @include border;
         
                margin: 1rem 0 0 0;

                @include small {
                    background-color: rgba(0, 0, 0, 0.9);
                    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.9);
                    display: none;
                }

                .tree {
                    margin: 0;

                    &-item {
                        &.-hidden > .tree-item-title, 
                        &.-hidden > details > .tree-item-title {
                            display: none;
                        }
                        
                        &.-faded > .tree-item-title, 
                        &.-faded > details > .tree-item-title {
                            opacity: 0.5;
                        }

                        &-title {
                            font-family: "HandelGothic", sans-serif;
                            padding: 0 1rem;
                            display: block;
                            list-style: none;
                            
                            &::-webkit-details-marker {
                                display: none;
                            }
                        }
                       
                        a:hover, details > summary:hover {
                            color: dodgerblue;
                        }

                        &.-current > .tree-item-title,
                        &.-current > details > .tree-item-title {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }
                
                > .tree {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &-page {
        width: calc(100% - 22rem);
        padding-bottom: 2rem;

        @include small {
            width: 100%;
            padding-top: 5rem;
        }

        &-image {
            display: block;
            max-width: 100%;
        }

        a {
            color: dodgerblue;
        }

        > *:first-child {
            margin-top: 0;
        }
    }
}

// Native site elements
.tree {
    list-style-type: none;
    padding: 0;

    &-item {
        line-height: 2rem;

        summary {
            cursor: pointer;
        
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tree .tree-item {
        padding-left: 1rem;
    }
}

.admonition {
    @include border(1rem);

    margin-top: 3rem;

    &-title {
        @include border-heading;
 
        top: -38px;

        + p {
            margin-top: 0;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

// Subsections 
.gallery {
    &-images {
        display: flex;
        
        img {
            display: block;
            width: 100%;
        }
    }
}

.properties {
    @include border(1rem);
    
    margin-top: 3rem;

    &-heading {
        @include border-heading;
    }

    &-container {
        display: flex;
        background-size: 1.5rem 1.5rem;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
        border-width: 0 1px 1px 0;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
    }

    &-keys {
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
       
        li {
            padding-left: 1rem; 
            border-left: 1px dotted rgba(255, 255, 255, 0.5);
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0.75rem;
                left: 0;
                width: 0.75rem;
                border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }

    &-values {
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        overflow: hidden;
    
        p {
            padding: 0;
            margin: 0;
        }
    }

    &-key, &-value {
        display: block;
        white-space: nowrap;
        line-height: 1.75rem;
        height: 1.5rem;
        padding: 0;
        margin: 0;
        text-overflow: ellipsis;
    }
}

.textures {
    &-search {
        @include border(1rem);
        
        position: relative;
        display: block;
        width: 100%;
        max-width: 30rem;

        &-input {
            border-image: url(/img/border-input.png) 4 8 8 6 fill / 4px 8px 8px 6px;
            padding: 0 2rem 0 0.5rem;
            line-height: 2rem;
            display: block;
            width: 100%;
            background: transparent;
            outline: 0;
            font-family: inherit;
            color: inherit;
            font-size: inherit;

            &:focus {
                outline: 0;
            }
        }
   
        &-stats:not(:empty) {
            margin-top: 0.5rem;
        }

        &::after {
            content: '⚲';
            pointer-events: none;
            display: block;
            position: absolute;
            font-weight: bold;
            right: 2rem;
            top: 2.15rem;
            font-size: 1.5rem;
            line-height: 1rem;
            transform: rotate(-45deg);
            z-index: 10;
            font-family: inherit;
        }
    }

    &-package, &-group, &-item {
        &.-hidden {
            display: none;
        }
    }
}

.downloads {
    @include border(1rem);

    margin-top: 3rem;

    &-heading {
        @include border-heading;
    }

    &-file {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &-name {
            &::before {
                margin-right: 0.5rem;
            }

            @include file-icon;

            flex-grow: 1;
            flex-shrink: 0;
            padding-right: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            p {
                padding: 0;
                margin: 0;
            }
        }

        &-author {
            padding-right: 1rem;

            @include small {
                display: none;
            }
        }

        &-download {
            @include button-small;
        }
    }
}

.mods {
    &-item {
        display: inline-block;

        &:hover {
            img {
                border-color: white; 
            }
        }

        img {
            display: block;
            width: 100%;
            max-width: 30rem;
            border: 1px solid dimgrey;
        }
    }
}

.filetree {
    @include border(1rem);
    
    margin-top: 3rem;

    &-heading {
        @include border-heading;
    }

    &-root {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &-node {
        &-name {
            @include file-icon;
        }

        &-children {
            padding: 0 0 0 1.5rem;
            margin: 0;
            list-style-type: none;
        }
    }
}

.timeline {
    margin-top: 2rem;

    &-year {
        &:not(:first-child) {
            padding-top: 2rem;
        }

        h2 {
            margin: 0;
        }

        &-events {
            padding: 1rem 0;
        }
    }

    &-event {
        padding: 1rem;
        border: 1px solid $text-color;

        & + & {
            margin-top: 2rem;
        }

        h3 {
            background-color: $text-color;
            color: black;
            margin: -1rem -1rem 1rem -1rem;
            padding: 0.5rem 1rem;
        }

        h4 {
            margin: 0;
        }

        details {
            summary {
                font-family: "HandelGothic", sans-serif;
                cursor: pointer;
            }

            ul {
                padding: 0 0 0 2rem;
            }
        }

        ul {
            margin: 0;
            padding: 0 0 0 1rem;
        }

        &-location, &-factions, &-characters {
            padding-bottom: 0.5rem;

            p {
                margin: 0;
            }
        }

        &-description {
            border-top: 1px solid $text-color;
            padding-top: 1rem;
        }
    }
}
